/* Basic styling */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}

/* Sticky Header */
header {
  position: sticky;
  top: 0;
  background-color: maroon;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px black(234, 110, 110, 0.1);
  z-index: 1000;
}

header h1 {
  color: maroon;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

/* Product Section */
.products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 50px 20px;
}

.card {
  background: whitesmoke;
  border-radius: 10px;
  width: 200px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 2px 8px black(0,0,0,0.1);
}

.card img {
  width: 100%;
  border-radius: 10px;
}

/* CTA Button */
.cta-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: orange;
  color: white;
  padding: 15px 25px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 0 4px 10px black (0, 0, 0, 0.573);
  transition: background 0.3s;
}

.cta-btn:hover {
  background-color:red;
}